body {
    background-color:#535353;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
#calculadora {
    background-color: #B1B1B1;
    width: 322px;
    height: 500px;
    padding: 6px;
}
#calculadora .btn {
    margin: 2px;
    border-radius: 0;
    min-height: 44px;
    outline: none;
    box-shadow: none;
}
#calculadora .btn:hover {
    background-color: #BCBCBC;
}
#calculadora .btn:active {
    background-color: #909090;
}
header {
    height: 205px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}
#display {
    color: #000;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 308px;
    height: 90%;
    font-size: 40px;
    font-weight: 600;
    overflow-wrap: break-word;
    overflow: hidden;
    
}
[data-display]{
   
    margin-left: right;
    display: block;
    font-size: 12px;
    color: #535353;
    background-color: #c2c2c2;
}
.btn-number {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.btn-others {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}