body {
    background-color:#1a1a1a;
    font-family: 'Oswald', sans-serif;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
#calculadora {
    background-color:#3d3d3d;
    width: 322px;
    height: 100%;
    padding: 6px;
   
}

#calculadora .btn {
    margin: 2px;
    border-radius: 0;
    min-height: 44px;
    outline: none;
    box-shadow: none;
    background-color: #1a1a1a;
    color:#cfcfcf;
}
#calculadora .btn:hover {
    background-color:  #575757;
}
#calculadora .btn:active {
    background-color: #0c0c0c;
}
header {
    height: 205px;
    font-size: 36px;
    font-weight: bold;
    position: relative;
}
#display {
    color: white;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 308px;
    height: 90%;
    font-size: 38px;
    font-weight: 600;
    overflow-wrap: break-word;
    overflow: hidden;
    
}



[data-display="lastOperation"]{
    display: inline-block;
    width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
    border: 1px solid #cfcfcf;
    color: white;
}

[data-display="error"]{
    position:absolute;
    width: 100%;
    margin-top: 160px;
    font-weight: lighter;
    display: block;
    font-size: 15px;
    color: #000000;
    text-align: center;
    background-color: #c2c2c2;
}

.btn-number {
    background-color: #EFEFEF;
    font-size: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-weight: 600;
}
.btn-others {
    background-color: #D1D1D1;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
   
}

[data-others="content"]{
    position: absolute;
    flex-wrap: wrap-reverse;
    width: 50px;
    left: -12%;

}

[data-others="sound"]{
   font-size: 18px;
   color: white;
   background-color: #686868;
   
}

[data-others="viewMode"]{
    font-size: 20px;
    padding: 0 15px;
    color: white;
    background-color: #686868;
 
 }

 [data-others="menu"]{
    font-size: 20px;
    padding: 0 13px;
    color: white;
    background-color: #686868;
 
 }

 .hide{
    opacity: 0;
    transform: translate3d(0px, -200px, 0)
}

 .slideDown{
    opacity: 1;
    animation-name: slideDown;
    animation-duration: 1s;
    transform: translate3d(0px, 0, 0);
 }

 .slideUp{
    opacity: 0;
    transition: 2s;
    animation-name: slideUp;
    animation-duration: 1s;
    transform: translate3d(0px, -200px, 0);
 }



 @keyframes slideDown {
    from {transform: translate3d(0px, -200px, 0);}
    to {transform: translate3d(0px, 0, 0)}
  }

  @keyframes slideUp {
    from {transform: translate3d(0px, 0px, 0);}
    to {transform: translate3d(0px, -200px, 0)}
  }

 




